<?xml version="1.0" encoding="UTF-8" ?>

<scene clear_color="[1.0, 1.0, 1.0]">

        <camera
                eye="[0, -0.05, -0.3]"
                center="[0, 0, 0]"
                up="[0, -1, 0]"
                near="0.1"
                far="100.0"
                fovy="45.0"
        />

        <grid
                on="True"
                start_x="-1.0"
                end_x="1.0"
                cells_x="10"
                start_z="-1.0"
                end_z="1.0"
                cells_z="10"
        />

        <realsense
                save_color="True"
                save_texture="True"
                save_ply="True"
                save_depth="False"
                prefix="C:/Users/kerus/Documents/data_pySoRO/experiments/"
                postfix=""
        />
        
        <motor
                use_motor_control="True"
                portname="COM3"
                num_boards="3"
                distribution_module="uniform.py"
                module_args="setStartPos,[0 0 0];setStopPos,[0 1000 700];setStepSize,[25 25 25]"
                autotighten="False"
                
        />
        
        <message_bot
                on="False"
                user="516765287"
                token="501932857:AAEvQCN3zfmeBTwWABZxjN_P-UojD5paC5Q"
                enable_images="True"
                
        />
        
</scene>
