<?xml version="1.0" encoding="UTF-8" ?>

<!-- This is the where you customize your experiment-->
<scene>

<!--Here you can specify whether or not to store different kinds of data. 
You should store color, texture and ply when not testing.
Prefix is where the location of where the data will be stored. -->
        <realsense
                save_color="True"
                save_texture="True"
                save_ply="True"
                save_depth="False"
                prefix="D:\\Konstantin\\" 
                postfix=""
        />
        
<!--Here you can specify whether or not to use motor contorl. This should only
be turned off during testing.
Portname can be found in ArduinoIDE -> Tools -> Port.
Distribution module is the path to the module that generates configurations.
Module_args specifies the subspace of the configurations space that is to be sampled. -->
        <motor
                use_motor_control="True"
                portname="COM3"
                num_boards="3"
                distribution_module="C:\Users\kerus\Documents\GitHub\pySoRo\DataAcquisition\pyDIST\uniform.py"
                module_args="setStartPos,[0 0 0];setStopPos,[0 300 1750];setStepSize,[40 150 750]"
        />
        
</scene>
